@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
$Font-Josefin-Sans: 'Josefin Sans', sans-serif;

//Primary
$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

//Neutral
$Dark-Grayish-Red: hsl(0, 6%, 24%);

$Gradint-1: hsl(0, 0%, 100%);
$Gradint-2: hsl(0, 100%, 98%);
$Gradint-3: hsl(0, 80%, 86%);
$Gradint-4: hsl(0, 74%, 74%);